<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Forgot Password</title>
    <style>
      .fg_container {
        width: 80%;
        margin: 0 auto;
        padding: 40px;
        font-family: "Montserrat", sans-serif;
      }
      .header {
        display: flex;
        align-items: center !important;
        justify-content: space-between !important;
        height: 120px;
        border-bottom: 1px solid #cedef2;
      }
      .social_icons {
        display: flex;
        align-items: center;
        gap: 24px;
      }
      .content {
        padding: 40px 0;
      }
      .content h2 {
        margin: 0;
      }
      .content p {
        padding: 10px 0;
        line-height: 24px;
      }
      .content p a {
        color: rgba(148, 162, 242, 1);
        text-decoration: underline;
      }
      .content p a:hover {
        text-decoration: none;
      }
      .code {
        display: flex;
        align-items: center;
        gap: 12px;
        margin: 24px 0;
      }
      .code > div {
        border-radius: 8px;
        display: flex;
        width: 64px;
        height: 64px;
        padding: 8px 19px;
        justify-content: center;
        align-items: center;
        border: 1px solid rgba(148, 162, 242, 1);
        font-weight: 400;
        font-size: 40px;
      }
      img {
          max-width: 100%;
          height: auto;
      }
      .XYZ_logo {
          width: 200px;
          height: 40px;
      }
        .social_icons img{
            width: 20px;
            height: 20px;
        }
    </style>
  </head>
  <body>
    <div class="fg_container">
      <!-- header -->
      <header>
          <div class="header">
        <img class="" src="" alt="logo"/>
        <div class="social_icons">
          <img src="https://i.imgur.com/PNfQKGk.png" alt="Twitter" width="7" height="7"/>
          <img src="https://i.imgur.com/dgsW8Q4.png" alt="Facebook" width="7" height="7" />
          <img src="https://i.imgur.com/7RAKMzj.png" alt="Instagram" width="7" height="7"/>
        </div>
          </div>
      </header>
      <!-- content -->
      <div class="content">
        <h2>Password Reset Verification Code</h2>
        <p>Hi {{name}},</p>
        <p>This is your verification code:</p>
        <!-- code -->
        <div class="code">
            <div>{{1}}</div>
            <div>{{2}}</div>
            <div>{{3}}</div>
            <div>{{4}}</div>
        </div>
        <p>
          Enter This verification code to reset your password. This code will
          only be valid for the next 5 minutes.
        </p>
        <p>Thanks, <br />XYZ Team</p>
        <p>
          This email was sent to
          <a href="mailto:angel@XYZ.com">angel@XYZ.com</a>. If you'd
          rather not receive this kind of email, Don’t want any more emails from
          XYZe? <a href="#">Unsubscribe</a>.
        </p>
        <p>
          100 Smith Street, Melbourne VIC 3000 <br />
          © 2023 XYZ
        </p>
      </div>
    </div>
  </body>
</html>
