<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title style="color: blue">OTP Sender From XYZ</title>
</head>
<body>
<h1>Welcome to XYZ</h1>
<P>Here is your Verification OTP</P>
<span style="color: blueviolet"> {{otp}}</span>
</body>
</html>
